
.home-pages  {
    display: flex;

}

.welcome-text {
    width: 30em;
    background-color: var(--neutral-color);
    color: whitesmoke;
    padding: 1rem;
    margin-top: 1rem;
}
.flow-content > * + * {
    margin-top: 1rem;
}

/*
  Giving various sections of your page this utility class
  will ensure a nice padding around the contents.
*/
/*.container {*/
/*    padding: 2rem;*/
/*}*/
